<ion-pane>
  <ion-header-bar class="bar-positive" align-title="center">
    <h1 class="title">Login Page</h1>
  </ion-header-bar>
  <ion-content>
    <div id="loginComponent">
      <div class='loginDiv' ng-if="!vm.user">
        <button class="button button-positive button-block" ng-click="vm.login('facebook')">Login with Facebook</button>
        <button class="button button-positive button-block" ng-click="vm.login('google')">Login with Google</button>
        <button class="button button-positive button-block" ng-click="vm.showEmailForm()">Login with Email</button>
      </div>

      <form class="emailForm" name="emailForm" ng-submit="vm.login('email', email, password)"
            ng-show="vm.showTheEmailForm">
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="email" name="emailInput" ng-model="email" required>
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" name="passwordInput" ng-model="password" required>
        </label>

        <button ng-disabled="$scope.emailForm.$invalid" class="button button-positive button-block" type="submit">Submit</button>
        <p style="color: blue; cursor: pointer;" ng-click="vm.showCreateEmailForm()">Create a New Account?</p>
      </form>

      <form class="emailForm" name="createEmailForm"
            ng-submit="vm.createEmailLogin(createEmail, createPassword1, createPassword2)"
            ng-if="vm.showTheCreateEmailForm">
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="email" name="emailInput" ng-model="createEmail" required>
        </label>
        <label class="item item-input">
          <span class="input-label">Password 1</span>
          <input type="password" name="passwordInput1" ng-model="createPassword1" required>
        </label>
        <label class="item item-input">
          <span class="input-label">Password 2</span>
          <input type="password" name="passwordInput2" ng-model="createPassword2" required>
        </label>
        <button ng-disabled="$scope.createEmailForm.$invalid" class="button button-positive button-block" type="submit">Submit</button>
      </form>

      <div class="loginDiv" ng-if="vm.user">
        <button class="button button-positive button-block" ng-click="vm.logout()">Logout</button>
      </div>
    </div>
  </ion-content>
</ion-pane>
