
<ion-pane>
  <ion-header-bar class="bar-positive" align-title="center">
    <h1 class="title">Login Page</h1>
  </ion-header-bar>
  <ion-content>
    <div id="loginComponent">
      <header-component header="LOGIN">
      </header-component>

      <md-content class='loginDiv' ng-if="!vm.user">
        <md-button class="md-raised md-primary" ng-click="vm.login('facebook')">Login with Facebook</md-button>
        <md-button class="md-raised md-accent" ng-click="vm.login('google')">Login with Google</md-button>
        <md-button class="md-raised md-accent" ng-click="vm.showEmailForm()">Login with Email</md-button>
      </md-content>

      <form class="emailForm" name="emailForm" ng-submit="vm.login('email', email, password)"
            ng-show="vm.showTheEmailForm">
        <md-input-container>
          <label>Email</label>
          <input type="email" name="emailInput" ng-model="email">
        </md-input-container>
        <md-input-container>
          <label>Password</label>
          <input type="password" name="passwordInput" ng-model="password">
        </md-input-container>
        <md-button class="md-raised md-primary" type="submit">Submit</md-button>
        <p style="color: blue; cursor: pointer;" ng-click="vm.showCreateEmailForm()">Create a New Account?</p>
      </form>

      <form class="emailForm" name="createEmailForm"
            ng-submit="vm.createEmailLogin(createEmail, createPassword1, createPassword2)"
            ng-if="vm.showTheCreateEmailForm">
        <md-input-container>
          <label>Email</label>
          <input type="email" name="emailInput" ng-model="createEmail">
        </md-input-container>
        <md-input-container>
          <label>Password 1</label>
          <input type="password" name="passwordInput1" ng-model="createPassword1">
        </md-input-container>
        <md-input-container>
          <label>Password 2</label>
          <input type="password" name="passwordInput2" ng-model="createPassword2">
        </md-input-container>
        <md-button class="md-raised md-primary" type="submit">Submit</md-button>
      </form>

      <md-content class="loginDiv" ng-if="vm.user">
        <md-button class="md-raised md-primary" ng-click="vm.logout()">Logout</md-button>
      </md-content>

      <footer-component>
      </footer-component>
    </div>
  </ion-content>
</ion-pane>
