<!--160928-recipeApp_home_html-->
<ion-pane>
  <ion-content id="homeComponent" class="has-header has-subheader">
    <!-- displays icon to access user recipes -->
    <div>
      <a ui-sref="tabs.myRecipes" class="noDecoration">
      <i class="icon ion-ios-list-outline"></i>
      <p>My Recipes</p>
      </a>
    </div>
    <!-- displays icon to allow user to create new recipes -->
    <div>
      <a ui-sref="tabs.newRecipe" class="noDecoration">
      <i class="icon ion-document"></i>
      <p>Make New Recipe</p>
      </a>
    </div>
  </ion-content>
</ion-pane>
