<ion-pane>
  <ion-header-bar class="bar-positive" align-title="center">
    <i ui-sref="tabs.profile" class="icon ion-person avatar"/></i>
    <h1 class="title">Browse</h1>
  </ion-header-bar>
  <ion-content id="browseComponent" class="has-header has-subheader">
    <div >
      <a ui-sref="tabs.browseApp" class="noDecoration">
        <i class="icon ion-ios-glasses-outline"></i>
        <p>Browse App Recipes</p>
      </a>
    </div>
    <div>
      <a ui-sref="tabs.browseOnline" class="noDecoration">
        <i class="icon ion-ios-glasses"></i>
        <p>Browse Online Recipes</p>
      </a>
    </div>
  </ion-content>
</ion-pane>
