<ion-pane>
  <!-- This is the header bar for the New-Recipes Page -->
  <ion-header-bar class="bar-positive" align-title="center">
    <i ui-sref="tabs.profile" class="icon ion-person avatar"/></i>
    <h1 class="title">New Recipe</h1>
  </ion-header-bar>

  <ion-content id="newRecipeComponent" class="has-header has-subheader">
    <!-- This is the new Recipes Form, where the user can input a new Recipe-->

    <!-- All of the information gathered in the newRecipeForm is assigned as a property on the vm.recipe object, which is then submitted to be stored in firebase and refreshed-->
    <form name="newRecipeForm" >
      <!-- Here the user provides a title for the recipe-->
      <label class="item item-input">
        <span class="input-label">Title</span>
        <input type="text" ng-model="vm.recipe.title" placeholder="Chocolate Chip Cookies">
      </label>

      <div>
        <!-- This div is where the user can provide ingredients information one by one, which is then added to the vm.recipe.ingredients Array-->
        <ion-item class="flex-row">
          <label class="item item-input" style="border: none">
            <span class="input-label">Quantity</span>
            <input class="detailQuantity" type="text" ng-model=vm.quantity placeholder="3 Cups">
          </label>
          <span>|</span>
          <label class="item item-input" style="border: none">
            <span class="input-label">Ingredient</span>
            <input class="detailname" type="text" ng-model=vm.ingredient placeholder="Flour">
          </label>
        </ion-item>
      <button class="button button-full button-positive"
              on-tap="vm.addIngredient(vm.ingredient, vm.quantity)">Add ingredient</button>
      </div>

      <!-- This Div does an ng-repeat through all of the ingredients to dispaly them to the user upon creation-->
      <ion-item ng-repeat="ingredient in vm.recipe.ingredients" class="flex-row">
        <span>{{$index + 1}}. </span>
        <input class="detailQuantity" type="text" ng-model=ingredient.quantity>
        <span>|</span>
        <input class="detailName" type="text" ng-model=ingredient.name>
        <button class="button button-assertive button-small"
                on-tap="vm.deleteIngredient($index)">
          <i class="ion-trash-a"></i>
        </button>
      </ion-item>

      <!-- This label allows the user to define directions, which are simply one large string-->
      <label class="item item-input">
        <span class="input-label">Directions</span>
        <textarea ng-model="vm.recipe.directions" style="width: 14em; height: 5em;"
                  placeholder="1. Get the Oven Hot"></textarea>
      </label>
      <ion-item class="item-toggle">
        <span >{{vm.recipe.status}}</span>
        <label class="toggle">
          <input type="checkbox" ng-model="vm.recipe.status" ng-true-value="'public'"
                 ng-false-value="'private'">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </ion-item>

      <!-- This button Submits the vm.recipe object to firebase-->
      <button class="button button-full button-positive" on-tap="vm.saveRecipe(vm.recipe)">Save Recipe</button>
    </form>

  </ion-content>
</ion-pane>
